<h1>Carts</h1>
 
<div id="carritoContenedor">
    {{#each products}}
<div class="carrito-item">
<p>Product: {{this.product.title}}</p>
<p>Description: {{this.product.price}}</p>
<p>Quantity: {{this.quantity}}</p>
</div>
    {{/each}}
</div>